<div style=margin:10px;>
<h1>タグ一覧</h1>
</div>
<div class="container">
    <div class="row"> 
        <div class="col-md-11">
            <%= render 'shared/tag_item', tags: @tags %>
            <%=link_to "タグ検索へ",admin_search_path%>
            <%= paginate @tags%>
        </div>
    </div>
</div>