<div style="margin:20px;">
<h1>編集画面</h1>
</div>
<div style="margin-bottom:180px; margin-top:40px;">
  <div class="container">
      <div class="row"> 
        <div class="col-md-12">
          <%= render 'shared/end_user_edit', end_user: @end_user %>
        </div>
      </div>
  </div>
</div>